/*  */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/*  */

body {
    background-color: #f0f0f0; 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px 40px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff; 
    outline: none; 
  }
  
  button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; 
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  p {
    text-align: center;
    color: #666; 
  }
  
  a {
    color: #007bff;
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: underline; 
  }
  
  @media (max-width: 600px) {
    .login-container {
      width: 90%;
      margin: 50px auto;
    }
  
    input[type="text"], input[type="password"], button[type="submit"] {
      font-size: 16px;
    }
  }